.header {
    height: 80px;
    background: #2C2C2C;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
    .header {
        display: none;
    }
}